<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.Hackthon.botshop">

    <uses-permission android:name="android.permission.INTERNET" />
    <uses-permission android:name="android.permission.WRITE_EXTERNAL_STORAGE" />
    <uses-permission android:name="android.permission.ACCESS_WIFI_STATE" />
    <uses-permission android:name="android.permission.CHANGE_WIFI_STATE" />
    <uses-permission android:name="android.permission.CHANGE_NETWORK_STATE" />
    <uses-permission android:name="android.permission.ACCESS_NETWORK_STATE" />
    <uses-permission android:name="android.permission.RECORD_AUDIO" />
    <uses-permission android:name="android.permission.ACCESS_FINE_LOCATION" />
    <uses-permission android:name="android.permission.ACCESS_COARSE_LOCATION" />

    <application
        android:allowBackup="true"
        android:hardwareAccelerated="false"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:roundIcon="@mipmap/ic_launcher_round"
        android:supportsRtl="true"
        android:theme="@style/Theme.BotShop"
        android:usesCleartextTraffic="true">
        <activity
            android:name=".PopUpWindow"
            android:theme="@style/popup_window"
            android:screenOrientation="portrait"
            android:exported="true" />
        <activity
            android:name=".EditProfile"
            android:exported="true"
            android:screenOrientation="portrait"
            android:theme="@style/editProfile" />
        <activity
            android:name=".ChatDetailsActivity"
            android:exported="true"
            android:screenOrientation="portrait"
            android:theme="@style/chatDetailsTheme" />
        <activity
            android:name=".SignIn"
            android:configChanges="locale|keyboardHidden|orientation"
            android:label="Login"
            android:screenOrientation="portrait"
            android:theme="@style/NoActionBarTheme" />
        <activity
            android:name=".IndividualChatsDomain"
            android:exported="true"
            android:label="Individual Chats"
            android:parentActivityName=".DomainSections"
            android:screenOrientation="portrait"
            android:theme="@style/DomainTheme" />
        <activity
            android:name=".FashionDomain"
            android:exported="true"
            android:label="Fashion"
            android:parentActivityName=".DomainSections"
            android:screenOrientation="portrait"
            android:theme="@style/DomainTheme" />
        <activity
            android:name=".TechDomain"
            android:exported="true"
            android:label="Technology"
            android:parentActivityName=".DomainSections"
            android:screenOrientation="portrait"
            android:theme="@style/DomainTheme" />
        <activity
            android:name=".Sports"
            android:exported="true"
            android:label="Sports"
            android:parentActivityName=".DomainSections"
            android:screenOrientation="portrait"
            android:theme="@style/DomainTheme" />
        <activity
            android:name=".ChatBot"
            android:exported="true"
            android:label="Chat With Us"
            android:parentActivityName=".DomainSections"
            android:screenOrientation="portrait"
            android:theme="@style/NoActionBarTheme" />
        <activity
            android:name=".DomainSections"
            android:exported="true"
            android:screenOrientation="portrait"
            android:theme="@style/NoActionBarTheme" />
        <activity
            android:name=".MainActivity"
            android:exported="true"
            android:screenOrientation="portrait"
            android:theme="@style/NoActionBarTheme">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>

        <meta-data
            android:name="com.facebook.sdk.ApplicationId"
            android:value="@string/facebook_app_id" />
    </application>

</manifest>